.pages-wrapper {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0px;
  width: 100%;
}

.page-landing-link-container {
  width: calc(100vw - (100vw - 100%));
  height: auto;
  display: flex;
  align-items: stretch;
  justify-content: center;
  background-color: black;
  overflow: hidden;
}

.page-landing-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #ffffff;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

.page-link-background {
  width: 100%;
  height: auto;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  filter: brightness(30%);
  transition: filter 0.3s ease-in-out;
}

.page-link-text {
  position: absolute;
  font-size: 9.5vw;
  opacity: 0.3;
  font-family: 'Zen Dots', sans-serif;
  transition: opacity 0.3s ease-in-out;
}

.page-landing-link:hover {
  transform: scale(1.1, 1.1);
}

.page-landing-link:hover > .page-link-background {
  filter: brightness(55%);
}

.page-landing-link:hover > .page-link-text {
  opacity: 0.8;
}